
.azeret-mono-typeface {
    font-family: "Azeret Mono", serif;
  }

*{
    padding: 0;
    margin: 0;
}

.text-center{
    text-align: center;
}


.learn-more{
    border: 1px solid  #0D1321;
    padding: 12px 20px;
    font-size: 20px;
    background-color: none;
    font-weight: 600;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header section */

.title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.title {
    font-size: 28px;
    font-weight: 800px;
    color: #0D1321;
}
.btn{
    /* color: #0D1321; */
    border: 2px solid  #0D1321;
    border-radius: 8px;
    background-color: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.title-section{
    margin: 38px 150px 36px 150px;
    align-items: center;
}

/* ----------------------------- */

/* hero section */
.banner{
    background-image: url(/assets/Hero-bg.png);
    
    /* width: 1440px; */
    /* height: 652px; */

}
/* .banner.content{
    max-width: 998px;
    max-height: 581px;
    display: inline-block;
    justify-content: center;
    align-items: center;

} */
.banner-image{
    padding-bottom: 32px;
}
.banner-contents{
    padding-left: 221px;
    padding-right: 221px;
    padding-top: 62px;
    padding-bottom: 74px;
}

.title-info{
    /* width: 998px; */
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #0D1321;
    line-height: 68px; 
    padding-bottom: 24px;
    /* padding-left: 221px;
    padding-right: 221px; */
}
.description-info{
    /* width: 852px; */
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #0D1321;
    opacity: 70%;
    padding-bottom: 32px;
    /* padding-left: 294px;
    padding-right: 294px; */
}

.btn-1{
    /* color: #0D1321; */
    border: none;
    color: white;
    background-color: #0D1321;
    padding: 24px 21px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

/* 2nd part */
.title{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 24px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 48px;
    height: 52px;
    color: #0D1321;
    text-align: center;
}


.mother{
    margin: 0px 97px;
    padding-top: 74px;
    margin-left: 150px;
    margin-right: 150px;
}
.web-development{
    background-color: #f3f3f3c3;
    border-radius: 16px;
    padding: 80px 97px;
}
.text-contents-1{
        /* padding: 48px; */
        border: none;
        border-radius: 16px;
}
.text-1{
    color: #0D1321;
    opacity: 70%;
    /* padding-bottom: 36px; */
    font-size: 24px;
    font-weight: 700;
    width: 390px;
}
.text-2{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    /* padding-bottom: 45px; */
    width: 468px;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 48px;
}
.main-1{
    padding-bottom: 32px;
}
.main, .main-2{
    background-color: white;
    /* border: 2px solid  #0D1321; */
    border-radius: 16px;
}
